<div class="container">
  <h1>Plan your day!</h1>
  <h3>User:Ivan Ivanov.Count of Task {{taskArr.length}}</h3>
  <hr>
  <div class="addContainer">
    <input  [(ngModel)]="task" type="text" class="form-control inputAdd" [placeholder]="placeholder">
    <input (click)="addTask()" type="button" value="Add" class="btn btn-success" [disabled]="isEdit">
  </div>
  <app-table (editObject)="getEdit($event)" [taskArr] = "taskArr" [isEdit]="isEdit"></app-table>
  <div class="edit" *ngIf="isEdit">
    <input  [(ngModel)]="editTask" type="text" class="form-control" [placeholder]="editPlaceholder">
    <input (click)="changeTask()" type="button" value="Change" class="btn btn-success">
  </div>
</div>
